# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong> Objectives: </strong>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List examples of the various libraries: scientific, visualization, machine learning, and deep learning.</li>
    <li>Describe data sets and sources of data.</li>
    <li>Explore open data sets on the Data Asset eXchange.</li> </ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Java</li> </ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li> </ol>

|Data Science Tools |
| ------ |  
| Apache Spark |
| Jupyter Notebooks |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author 
Reham Alzahrani